--extra-index-url http://fstab.net/pypi/simple
--trusted-host fstab.net 

requests

# TODO: shouldn't be deploy here for all cases
-e sub/epyqlib[deploy]

# TODO: this shouldn't be here either...
# https://github.com/pyinstaller/pyinstaller/issues/3942
-e git+https://github.com/Loran425/PyInstaller@5bed1af275dfaeb2267af2d10a808bd29a8674f7#egg=PyInstaller

-e git+https://github.com/altendky/graham@89f3b3e6aad3b98bafa83f28fbbc11bb92df6ad8#egg=graham
python-can==3.0.0
-e git+https://github.com/ebroecker/canmatrix@8f63047c18dcb65f7904d298cbf603d2e6325b85#egg=canmatrix
-e git+https://github.com/altendky/bitstruct@c1ff0e635257e7be0cf2e4dbdf8a12b8faf83e7f#egg=bitstruct
Twisted[tls]==18.9.0
Twisted[osx_platform]==18.9.0rc1; platform_system == "Darwin"
Twisted[windows_platform]==18.9.0rc1; platform_system == "Windows"
-e git+https://github.com/altendky/qt5reactor@ce3ea2dad6d71adb10cde79b64bc0c7d27e9139c#egg=qt5reactor
pywin32==223; sys_platform == 'win32'
-e git+https://github.com/eliben/pyelftools@2300c1ffbe0f12f8bcd8f68ff1b1c6bdd0258c73#egg=pyelftools
attrs==18.1.0
natsort==5.4.1
arrow==0.12.1

PyQt5==5.11.3
PyQtChart==5.11.3
pyqt5-tools==5.11.3.1.4; sys_platform == 'win32'

pytest==3.9.2
pytest-faulthandler==1.5.0
pytest-rerunfailures==4.2
pytest-qt==3.2.1
git+https://github.com/altendky/pytest-twisted@6f04ba3ad806b3b40602999e71c28633c36d81f9

boto3==1.9.83
boto3_type_annotations==0.3.0
certitude==1.0.1
paho-mqtt==1.4.0
treq==18.6.0

-e .
