requests

# TODO: shouldn't be deploy here for all cases
-e sub/epyqlib[deploy]

# TODO: this shouldn't be here either...
https://github.com/pyinstaller/pyinstaller/archive/964547cd92cabe28150d52c2ca809de74a5ddbaa.zip

-e git+https://github.com/altendky/python-can@ad0fd41e7bf95310f7498dba2cdb0a0bc66d5229#egg=python-can
-e git+https://github.com/ebroecker/canmatrix@336a8937c3fbdf4ba0d26cf4275aca4ee5486d31#egg=canmatrix
-e git+https://github.com/altendky/bitstruct@c1ff0e635257e7be0cf2e4dbdf8a12b8faf83e7f#egg=bitstruct
twisted==17.1.0
-e git+https://github.com/altendky/qt5reactor@a52c0d0c289c8e08680c0204974081c541504d41#egg=qt5reactor
pypiwin32==220; sys_platform == 'win32'
-e git+https://github.com/eliben/pyelftools@2300c1ffbe0f12f8bcd8f68ff1b1c6bdd0258c73#egg=pyelftools
attrs==16.3.0
natsort==5.0.3
